@model IEnumerable<SentimentAnalysisApp.Models.MinedText>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Results</h2>
        </div>

        <div class="panel-body">
            <div class="list-unstyled">

                @{
                    int i = 1;
                    long previous = Model.First().TwitterID;
                    long diff;
                }
                @foreach(var item in Model) {
                    diff = item.TwitterID - previous;

                    <div class="row">
                        <div class="col-md-1">
                            @i
                        </div>
                        <div class="col-md-1">
                            @Html.DisplayFor(modelItem => item.ID)
                        </div>
                        <div class="col-md-5">
                            @Html.DisplayFor(modelItem => item.TheText)
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(modelItem => item.TwitterID) | @diff
                        </div>
                    </div>
                    <br />

                    i++;
                    previous = item.TwitterID;
                }

            </div>
        </div>
    </div>
</div>
