@using WebSite.ViewModels
@model UserRoleInfo

@using(Html.BeginForm( "CreateRole", null, FormMethod.Post, new { id = "create_form" } )) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-3">
                Role Name:
            </div>
            <div class="col-md-7">
                @Html.EditorFor( model => model.roleName, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.roleName, "", new { @class = "text-danger" } )
            </div>
        </div>     

        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input id="submit_button" type="submit" value="Create" class="btn btn-default" />     
                <i id="loadingBanner" class="fa fa-spinner fa-pulse fa-3x fa-fw" style="display:none;"></i>           
            </div>
        </div>

    </div>
}

<script>
    $(document).ready(function () {
        $('#create_form').submit(function () {
            $("#submit_button").attr('disabled', true);
            $("#loadingBanner").show();
        });
    });
</script>
