@{
    ViewBag.TitleTail = "Home";
}

@section Styles {
    <link href="@Url.Content("~/Content/home.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="@Url.Content("~/scripts/home.js")"></script>
}

<section id="intro" class="container-fluid">
    <div id="intro_overlay">
        <div id="logo_description">            
            <h1>What do they feel?</h1>
            

            <blockquote class="blockquote">
                <p class="mb-0">When they look outside the window <br /> and it's raining again?</p>
                <footer class="blockquote-footer">Beto Cohen, aka <cite title="Source Title">Betoko.</cite></footer>
            </blockquote>

            <div id="logoDiv">
                <img src="@Url.Content("~/Content/Images/logo_full.png")" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section id="about" class="container-fluid text-justify">
    <h1 class="text-left">About SentiMeter</h1>
    <h2 class="text-left">What it is and why it exists.</h2>
    <br />
    <p>
        SentiMeter is a Website application and part of a larger system designed to perform sentiment analysis on user text data
        collected from social media, forums and around the web in general. In plain terms, you can see how people around the internet
        feel about a particular subject. The users of this app can create their requests by selecting their desired words of interest
        and the sources from which the texts will be collected, and execute them in order to watch the overall sentiment
        - opinions, in the form of statistics and other charts.
    </p>
    <p>
        This system was developed as a Thesis for the Diploma
        in <a class="simple" href="https://www.ceid.upatras.gr/en">Computer Engineering &amp; Informatics Department</a>, at University of Patras.
        The goal was to implement an extensible, scalable and reliable system that performs sentiment analysis.
        Thefore, it was designed as a cloud system application using the
        <a class="simple" href="https://azure.microsoft.com/en-us/services/service-fabric/">Microsoft Azure Service Fabric Platform</a> (PaaS),
        as well as other important and basic programming patterns and techniques such us the Actor Model, RESTful Services,
        microservices architectures, etc.
    </p>
</section>

<section id="contact" class="container-fluid">
    <div class="text-justify">
        <h1 class="text-center">Contact</h1>
        <br />
        <p>
            My name is Dimitris Kallivokas and I'm a graduate student of <a class="simple" href="https://www.ceid.upatras.gr/en">CEID</a>, at University of Patras.
            This application is a part of the open-source system I developed for my Thesis. If you are in any way interested in my
            work, you can contact me or view - fork the project:
        </p>
        <div id="icons">
            <a href="https://github.com/DimitrisKlb" data-toggle="tooltip" data-placement="bottom" title="Personal Profile"><div class="icon"><i class="fa fa-user"></i></div></a>
            <a href="https://www.linkedin.com/in/dimitrios-kallivokas-365596157/" data-toggle="tooltip" data-placement="bottom" title="LinedIn Profile"><div class="icon"><i class="fa fa-linkedin"></i></div></a>
            <a href="mailto:kallivokas@ceid.upatras.gr" data-toggle="tooltip" data-placement="bottom" title="kallivokas@ceid.upatras.gr"><div class="icon"><i class="fa fa-envelope"></i></div></a>
            <a href="https://bitbucket.org/mmlabgr/sentimentanalysis"><div class="icon" data-toggle="tooltip" data-placement="bottom" title="Bitbucket Repository"><i class="fa fa-bitbucket"></i></div></a>
        </div>
    </div>
</section>