<?xml version="1.0" encoding="utf-8"?>
  <appSettings>
    <!-- Twitter Credentials -->
    <add key="twitterConsumerKey" value="bQ05Y6TcsbrNIJKayFHHDeS5k" />
    <add key="twitterConsumerSecret" value="OFtnT8a6rNs71k56z7IyqYqmnOJlbrk5nOMHTQrLzdRwVhecFq" />
    <add key="twitterAccessToken" value="790073232472862720-sMVIAUR3Nm0Ja3vy4NFdStOeNB52lLJ" />
    <add key="twitterAccessTokenSecret" value="RuxkMABK4UrmjSY27BqbTRCEjkvldkhps9gtgfwIiwKOV" />
  </appSettings>

